html {
    font-size: min(max(1rem, 4vw), 22px);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #eeeeee;
}

ul {
    list-style: none;
    margin-bottom: 0%;
}

li {
    margin-bottom: 20px;
    align-self: flex-start;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 70vh;
}

#img-div {
    background-color: white;
    padding: 20px 20px 5px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Roboto;
}

#heading h1 {

    --minFontSize: 32px;
    --maxFontSize: 200px;
    --scaler: 10vw;
    font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));

    margin-bottom: 0%;
}

#heading h2 {
    font-size: 20px;
    font-style: italic;
}

#caption {
    font-weight: lighter;
    font-style: italic;
}

#tribute-info {
    display: flex;
    flex-direction: column;
    font-family: Roboto, 'Times New Roman', Times, serif;
}

#quote {
    font-style: italic;

    text-align: center;

    padding: 0px 10px 0px 20px;
}

.year {
    font-weight: bold;
}

.album {
    font-style: italic;
}

.biographytext {
    align-self: center;

    --minFontSize: 10px;
    --maxFontSize: 60px;
    --scaler: 5vw;
    font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}