main {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #eeeeee;
}

#imagebox {
    background-color: white;
    padding: 20px 20px 5px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading {
    display: flex;
    flex-direction: column;
    align-items: center;

margin: 5px;

    font-family: Roboto;
}

#heading h1 {
    font-size: large;
    font-size: 60px;
}

#heading h2 {
    font-size: 20px;
    font-style: italic;
}

#caption {
    font-weight: lighter;
    font-style: italic;
}

.year {
    font-weight: bold;
}

li {
    margin-bottom: 20px;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}